<nav class="navbar navbar-default">
    <div class="container-fluid ">
        <!-- Image brand -->
        <div class="navbar-header" style="display: inline">
            <!-- toogle button -->
            <button type="button" class="navbar-toggle collapsed" (click)="sidebarToggleClick()"> 
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a  class="navbar-brand" [routerLink]="['/']"> 
                <img src="" alt="BRAND">
            </a>
        </div>
        <div class="collapse navbar-collapse  text-center" [ngClass]="isToggled? 'in':''"> <!--add .in to toggole dropdown-->
            <nav class="nav navbar-nav"> 
                    <li role="presentation" class="active"><a href="#">About Us</a></li>
                    <li role="presentation"><a href="#">Contact Us</a></li>
                    <li role="presentation"><a href="#">Help</a></li>
            </nav>
            <!-- sign up button -->
            <nav class="nav navbar-nav navbar-right ">
                    <button  class="btn btn-success navbar-btn" (click)="onSignIn()" #logginAction>signin</button>
                </nav>
        </div>
       
    </div>

</nav>
