<div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a routerLink="1" class="list-group-item">
                    <h4 class="list-group-item-heading">Title</h4>
                    <p class="list-group-item-text">brief description</p>
                </a>
            </div>
        </div>
</div>  
<div class="row">
        <div class="col-xs-12">
                <div class="list-group">
                    <a routerLink="2" class="list-group-item">
                        <h4 class="list-group-item-heading">Title</h4>
                        <p class="list-group-item-text">brief description</p>
                    </a>
                </div>
            </div>
</div>  

