<!-- reactive form -->
<form>
    <div class="form-group">
        <label for="title">Tido Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group text-center">
        <label for="title">Task 1</label>
        <div class="form-inline">
            <input type="text" class="form-control" id="title">
            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success my-btn">Insert</button>
    </div>
    <textarea class="form-control textarea-description" rows="3" placeholder="Add breif description here"></textarea>
    <div class="text-center btn-group-add">
        <button type="button" class="btn btn-success my-btn">Add</button>
        <button type="button" class="btn btn-danger my-btn">Cancel</button>
    </div>

</form>
