<!-- reactive form -->
<form  [formGroup] = "todoForm" (ngSubmit)="saveTodo()">
    <div class="form-group"
    [ngClass]="(getTitle.invalid && getTitle.touched)? 'has-error' :
    (getTitle.touched && getTitle.valid)?'has-success':''">
        <label for="title">Tido Title</label>
        <input type="text" class="form-control"
        id="title" formControlName="title">
        <span  class="help-block"
         *ngIf="(getTitle.invalid && getTitle.touched)">Title cannot be left blank!</span>
    </div>
    <div formArrayName="tasks">
      <div *ngFor="let task of getTask.controls; let i = index;" >
        <div class="form-group text-center"  [appTaskValidation]="getTask.controls[i]">
          <label for="title">{{i+1}}</label>
          <div class="form-inline" >
              <input type="text" class="form-control"  [formControlName]="i" required>
              <button type="button" class="btn btn-danger" (click)="removeTask(i)"><span class="glyphicon glyphicon-remove"></span></button>
          </div>
          <span  class="help-block"
          [ngSwitch]="1"
          *ngIf="(task.invalid && task.touched)">you must fill <ng-template
          [ngIf]="getTask.controls.length>1">or remove </ng-template>empty task!</span>
        </div>
      </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success my-btn" (click)="insertTask()">Insert</button>
    </div>
    <div class="form-group"  [ngClass]="(getDescription.invalid && getDescription.touched)? 'has-error' :
    (getDescription.touched && getDescription.valid)?'has-success':''">
      <textarea class="form-control textarea-description" rows="3"
      placeholder="Add breif description here" formControlName="description"></textarea>
      <span  class="help-block"
      *ngIf="(getDescription.invalid && getDescription.touched)">Description cannot be left blank!</span>
    </div>

    <div class="text-center btn-group-add">
        <button type="button" class="btn btn-success my-btn" type="submit" [disabled]="todoForm.invalid">Save</button>
        <button type="button" class="btn btn-danger my-btn" (click)="cancel()">Cancel</button>
    </div>

</form>

