<div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <h3 class="bg-primary">Task1</h3>
                <a href="#" class="list-group-item">description</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width: 20%;"> <!--progress-bar-success alternate colors-->
                        <span >20% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
