
<div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <h3 class="bg-primary">{{todo?.title}}</h3>
                <a class="list-group-item" style="cursor: pointer" [routerLink]="['/','todo','list', todo.id]">{{todo?.description}}</a>
                <div class="progress">
                    <div class="progress-bar" style="min-width: 5%" [ngStyle]=" {'width': ratio + '%'}"
                    [ngClass]="(ratio >= 60 )? 'progress-bar-success' :
                    (ratio >= 30 && ratio < 50)?'progress-bar-warning':
                    (ratio >= 50 && ratio < 60)?'progress-bar-info': 'progress-bar-danger'"> <!--progress-bar-success alternate colors-->
                        <span >{{ratio}}% Complete</span>
                    </div>
                </div>
            </div>
        </div>
</div>
