<div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a [routerLink]="['/', 'todo']" 
                    class="list-group-item "
                    [routerLinkActive]="'active'" [routerLinkActiveOptions]= "{exact:true}">Home</a>
                <a [routerLink]="['edit']" 
                    class="list-group-item "
                    [routerLinkActive]="'active'">Add Todo</a> <!--active -->
                <a [routerLink]="['list']" 
                    class="list-group-item"
                    [routerLinkActive]="'active'">view Todo</a>
                <a [routerLink]="['completed']" 
                    class="list-group-item"
                    [routerLinkActive]="'active'">Track todo</a>
                <a [routerLink]="['pending']" 
                    class="list-group-item"
                    [routerLinkActive]="'active'">Pending Todo</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                <a class="list-group-item ">Change Password</a>
                <a  class="list-group-item">Change Email</a>
                <a  class="list-group-item list-group-item-danger">Delete Account</a>
            </div>    
        </div>
    </div>
