<!-- everything is wrapped inside a form -->
<form #todoDetailForm="ngForm">
<div class="row">
    <div class="col-xs-12">
            <ul class="list-group">
                    <li class="list-group-item active text-center"><h4>{{todo?.title}}</h4></li>
                    <div class="panel panel-default ">
                            <div class="panel-body" [ngClass]="todo?.closed? 'bg-danger':''">
                               <p> {{todo?.description}}</p>
                            </div>
                        </div>

                    <li class="list-group-item list-group-item-success"
                    [ngClass]="task?.finished ? 'list-group-item-success' :  'list-group-item-danger'"
                    *ngFor="let task of todo?.task; let index=index">{{task?.task}}<span class="pull-right">
                        <div class="checkbox" >
                          <input type="checkbox" [name]="task?.id"
                          id="{{task?.id}}" (click)="finishedTodo(index, todoDetailForm)"
                          disabled="{{task?.finished || todo?.closed}}" [(ngModel)]="task.finished"></div>
                    </span></li>
                  </ul>
    </div>
    <!-- buttons -->
    <div class="row" style="margin-bottom: 12px">
        <div class="col-xs-12 text-center">
                <div class="btn-group" appDropdown> <!-- toggle with .open here-->
                        <button type="button" class="btn btn-primary dropdown-toggle ">
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="cursor: default">
                          <li (click)="pend()" *ngIf="ratio < 100">
                            <a *ngIf="!todo?.closed; else unpend">pend</a>
                            <ng-template #unpend>
                             <a>unpend</a>
                            </ng-template>
                          </li>
                          <li role="separator" class="divider" *ngIf="ratio < 100"></li>
                          <li (click)="edit()"><a>Edit</a></li>
                          <li role="separator" class="divider"></li>
                          <li (click)="delete()"><a>Delete</a></li>
                        </ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button (click)="navBack()" class="btn btn-danger" >Close</button>
        </div>
    </div>
</div>
</form>
