<div class="row">
    <div class="col-xs-12">
            <ul class="list-group">
                    <li class="list-group-item active text-center"><h4>{{todo.title}}</h4></li>
                    <div class="panel panel-default ">
                            <div class="panel-body">
                               <p> {{todo.description}}</p> 
                            </div>
                        </div>
                    <li class="list-group-item list-group-item-success" 
                    [ngClass]="task.finished ? 'list-group-item-success' :  'list-group-item-danger'" 
                    *ngFor="let task of todo.task">{{task.task}}<span class="pull-right">
                        <div class="checkbox"><input type="checkbox" name="{{'task' + task.id}}" id="{{task.id}}" [checked]="task.finished" [disabled]="task.finished"></div>
                    </span></li>
                  </ul>
    </div>
    <!-- buttons -->
    <div class="row" style="margin-bottom: 12px">
        <div class="col-xs-12 text-center">
                <div class="btn-group" appDropdown> <!-- toggle with .open here-->
                        <button type="button" class="btn btn-primary dropdown-toggle ">
                          Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a >Close</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a >Delete</a></li>
                        </ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-danger" (click)="navBack()">Cancel</button>
        </div>
    </div>
</div>
