<div class="row">
    <div class="col-md-5 hidden-xs">
        <article>
            <h2 style="margin-top: -2px">Lorem ipsum</h2>
            <p>Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute

                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute
                
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute
                
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute
                
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus</p>
        </article>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <router-outlet></router-outlet>
        <!-- <app-sigup></app-sigup> -->
    </div>
</div>
